#ignore env
*.env

#ignore txt files
*.txt

#ignore log files
*.log

#ignore pycache
__pycache__/

# sql database ignore
*.db

#yaml ignore
*.yaml

#screen log
*.0

#ignore venv
.venv

#ignore data folder
data/

#exceptions

!requirements.txt
